body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background: #ddd;
    color: black;
}

.home-section {
    margin-top: 0px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.image-right {
    width: 40%;
    padding: 5px;
    padding-left: 10px;
}

.image-left {
    width: 40%;
    padding: 5px;
    padding-right: 10px;
}

.text-right {
    width: 60%;
    padding: 5px;
    padding-left: 10px;
}

.text-left {
    width: 60%;
    padding: 5px;
    padding-right: 10px;
}

.projects {
    display: flex;
    padding: 10px;
}

.project-images {
    width: 100%;
    border-radius: 8%;
    border-color: black;
}

#home-section {
    margin: 0 auto;
    width: 50%;
    padding: 5px;
    padding-top: 50px;
    text-align: center;    
}

#about-section {
    margin: 0 auto;
    width: 75%;
    padding: 5px;
    text-align: center;
}

#projects-section {
    padding: 10px;
    text-align: center;
}



#github-image {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}