body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
    font-size: 1.4em;
    color: #FBE9D0;
    background-color: #244855;
}

footer {
    text-align: center;
    padding: 15px;
}

td {
    padding: 15px;
}

.topnav {
    overflow: hidden;
    background-color: #162c34;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.hover-link {
    float: left;
    display: block;
    color: #FBE9D0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hover-link:hover {
    background: #FBE9D0;
    color: #162c34;
}

.home-section {
    margin-top: 0px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.image-right {
    width: 40%;
    padding: 5px;
    padding-left: 10px;
}

.image-left {
    width: 40%;
    padding: 5px;
    padding-right: 10px;
}

.text-right {
    width: 60%;
    padding: 5px;
    padding-left: 10px;
}

.text-left {
    width: 60%;
    padding: 5px;
    padding-right: 10px;
}

.projects {
    display: flex;
    padding: 10px;
}

.project-images {
    width: 100%;
    border: solid 6px;
    border-radius: 8%;
    border-color: #1d3a45;
}

.project-button {
    text-decoration: none;
    color: #90AEAD;
}

.project-button:hover {
    text-decoration: underline;
    color: #9ab0ad;
}

#nav-icons a {
    text-align: center;
}

#nav-icons {
    padding-top: 8px;
    padding-right: 20px;
    text-align: right;
}

#about-desc {
    text-align: left;
}

#home-section {
    margin: 0 auto;
    width: 50%;
    padding: 5px;
    padding-top: 50px;
    text-align: center; 
    margin-bottom: 100px; 
    animation: fadeIn 5s;  
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#about-section {
    margin: 0 auto;
    width: 75%;
    padding: 5px;
    text-align: center;
    margin-bottom: 100px;
}

#projects-section {
    padding: 100px;
    text-align: center;
    margin-bottom: 100px;
}

#contact-section {
    margin: 0 auto;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    width: 40%;
    text-align: center;
    margin-bottom: 100px;
}


#github-image {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

#contact-section label {
    display: block;
    text-align: left;
}

#contact-section input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#contact-section textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#github-link {
    margin-right: 10px;
    color: #FBE9D0;
}

#linkedin-link {
    margin-left: 10px;
    color: #FBE9D0;
}

#resume-link {
    color: #E64833;
    text-decoration: none;
}

#resume-link:hover {
    color: #f84e34;
    font-weight: bold;
}